.page-events
	.main
		border-left: solid 3px
		border-right: solid 3px

	// Super Important Events --------------------------------------------- //
	section.importantevents
		@extend %clearfix

	article.importantevent
		float: left
		width: 50%
		height: 640px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		position: relative

	div.importanteventtop
		background-color: rgba(0,0,0,0.8)
		color: $gold
		height: 130px
		text-align: center
		padding-top: 1.1em

		h3
			font-size: 4em
		h4
			font-size: 3em

	div.importanteventbottom
		text-align: left
		display: none
		padding: 3em
		overflow: hidden
		color: $bodyColor

		p
			font-weight: 300
			font-family: $futura
			font-size: 2em

		a.img
			float: left
			padding-right: 1.5em

	div.importanteventdescription
		@extend %clearfix


	// Normal Events --------------------------------------------- //
	section.events
		@extend %clearfix

	article.event
		float: left
		width: 25%
		background-color: $headerColor
		min-height: 320px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		position: relative

	div.eventtop
		background-color: rgba(0,0,0,0.9)
		color: $gold
		height: 65px
		text-align: center
		padding-top: 0.1em

		h3
			font-size: 2.5em
		h4
			font-size: 1.5em

	div.eventbottom
		text-align: left
		display: none
		padding: 1em
		padding-top: 1em
		overflow: hidden
		color: $bodyColor

		p
			font-size: 1.45em
			font-weight: 300

	

	// BOTH --------------------------------------------- //
	div.moreinfo
		width: 100%
		height: 50px
		background-color: $headerColorOpacity
		text-align: center
		position: absolute
		bottom: 0
		cursor: pointer
		transition: color 0.25s, background-color 0.25s ease-in-out

		span
			font-size: 3.5em
			color: $bodyColor

		&:hover
			background-color: $bodyColor

			span
				color: $headerColorOpacity

	div.moreinfo--s
		height: 28px
		padding: 0

		span
			font-size: 2em

	div.moreinfo--open
		background-color: $headerColorOpacity

		div.eventbottom, div.importanteventbottom
			display: block

		&:hover
			background-color: $headerColorOpacity

			span
				color: $bodyColor



	//Facebook and More Info
	.button
		margin-top: 2em
		margin-bottom: 2em

	.fb-share-button
		width: 55px
		margin: auto
		display: block
		position: static
	// Bottom Spacer //
	// .eventspacer
	// 	height: 175px
	// 	width: 100%
	// 	background-color: black


//---------------    Mobile    ---------------//

@media screen and (max-width: 1560px)
	.page-events
		div.importanteventbottom
			padding: 2.5em
			p
				font-size: 1.75em

@media screen and (max-width: 1500px)
	.page-events
		div.eventbottom
			p
				font-size: 1.30em

@media screen and (max-width: 1400px)
	.page-events
		div.importanteventbottom
			padding: 1.75em

@media screen and (max-width: 1350px)
	.page-events
		div.importanteventbottom
			padding: 1.25em

@media screen and (max-width: 1100px)
	.page-events
		div.eventtop
			padding-top: 0.75em
			h3
				font-size: 2em

@media screen and (max-width: 950px)
	.page-events
		article.importantevent
			width: 100%
			border: 1px solid $black
		article.event
			width: 50%
			border: 1px solid $black
		div.importanteventbottom
			padding: 5em

@media screen and (max-width: 600px)
	.page-events
		div.importanteventbottom
			padding: 1em

@media screen and (max-width: 500px)
	.page-events
		article.event
			width: 100%

@media screen and (max-width: 450px)
	.page-events
		div.importanteventbottom
			p
				font-size: 1.5em
			a.img
				margin-bottom: 50px
				img
					height: 240px
					width: 155.2px

@media screen and (max-width: 400px)
	.page-events
		div.importanteventtop
			padding-top: 2em
			h3
				font-size: 3.5em
			h4
				font-size: 2.75em

@media screen and (max-width: 340px)
	.page-events
		div.importanteventbottom
			a.img
				margin-bottom: 100px
				img
					height: 200px
					width: 129.3px

		div.importanteventtop
			h3
				font-size: 3.25em
			h4
				font-size: 2.5em
