//Super Important Events
section.importantevents
	@extend %clearfix

article.importantevent
	float: left
	width: 50%
	height: 640px

div.eventtop
	background-color: rgba(0,0,0,0.7)
	color: yellow
	height: 20%
	text-align: center
	padding-top: 1em

	//CHANGE THIS CHANGE THIS
	h3
		font-size: 4em
	h4
		font-size: 3em


//Normal Events
section.events
	@extend %clearfix

article.event
	float: left
	width: 25%
	background-color: red
	height: 320px



