.page-home


	.main, .knightro
		// width: 50%
		display: inline-block
		// float: left
		text-align: center

	.knightro
		// float: right

	.main
		padding-top: 10em
		// float: left

	.button
		margin-top: 5em
		a
	
			&:after
				background: black

			&:hover
				


	.events
		// background-color: red
		clear: both

		.event
			background-color: rgba(0, 0, 0, 0.5)
			text-align: center
			color: $bodyColor
			// padding: 1em 25em
			margin: auto


			.button
				margin: auto


