.page-home


	div.content-area
		padding: 7em 2em

	.main, .knightro
		width: 50%
		display: inline-block
		// float: left
		// margin: auto
	.knightro
		float: right

	.main
		padding-top: 10em
		float: left
		
		h1, h2
			text-align: center

		h2
			margin-bottom: 0.5em

	.button
		margin-top: 4em

		a
	
			&:after
				// background: black

			&:hover
				


	.events
		// background-color: red
		clear: both
		padding: 2em 

		.event
			background-color: rgba(0, 0, 0, 0.8)
			text-align: center
			// color: $bodyColor
			padding: 1em
			margin: auto
			@extend %clearfix

			img, a,
				margin: 0.5em 0 0.5em 0

			img
				margin: 6.5em 0 2em 0

			h3
				margin-top: 0.25em
				font-size: 4em
				color: gold
				
			h4
				font-size: 3em
				color: gold
			
			p
				width: 75%
				margin: 0.75em auto
				color: white 

			.button
				margin: 0.75em auto


		.eventDescription
			width: 60%
			float: left
			padding-bottom: 2em


//---------------    Mobile    ---------------//

@media screen and (max-width: 1420px)
	.knightro
		img
			width: 99%

@media screen and (max-width: 1200px)
	.page-home
		.main
			padding-top: 8em

@media screen and (max-width: 1100px)
	.page-home
		.main
			padding-top: 6em

@media screen and (max-width: 1005px)
	.page-home
		h1
			font-size: 4.5em

@media screen and (max-width: 910px)
	.page-home
		.main
			padding-top: 0em
			display: block
			float: none
			width: 100%

			p
				padding: 0 3em
		.knightro
			margin: 5em 0
			width: 100%
			text-align: center

			img
				width: 50%

		.events
			.event
				.eventDescription
					width: 70%

@media screen and (max-width: 790px)
	.page-home
		.events
			.event
				padding: 0em 1em 3em 1em
				a
					margin: 0
					display: block

				.eventDescription
					width: 100%

					.button
						width: 310px

@media screen and (max-width: 590px)
	.page-home
		.events
			h1
				font-size: 4.25em
			.event
				h3
					font-size: 3.75em

				h4
					font-size: 2.75em

		.main
			p
				padding: 0 2em

@media screen and (max-width: 475px)
	.page-home
		.main
			h1
				font-size: 4em
			h2
				font-size: 2.5em

			p
				font-size: 1.5em
				padding: 0
		.events
			padding: 0

			h1
				font-size: 4em

			.event
				h3
					font-size: 3em
				h4
					font-size: 2em
				p
					font-size: 1.5em

				.eventDescription
					.button
						width: 265px
						font-size: 0.8em
						margin-bottom: 2em

@media screen and (max-width: 425px)
	.page-home
		.main
			h1
				font-size: 3em
			h2
				font-size: 2em
			p
				font-size: 1.5em
		.events
			h1
				font-size: 3em
			.event		
				.eventDescription
					.button
						width: 245px

		div.content-area
			padding: 7em 1.5em