.page-media
	div.content-area
		padding: 7em 0
	section.photos
		width: 100%
		max-width: 1320px
		margin: auto

	article.album
		a
			font-size: 2em
			transition: color 0.25s ease-in-out


			&:hover
				color: $gold