



nav.main-menu
	display: block
	width: 100%
	font-size: 2.25em
	text-align: center
	background-color: $menuColorOpacity
	// opacity: 0.90

	a
		display: block
		text-decoration: none
		color: $gold
		font-weight: 200
		transition: color 0.25s ease-in-out

		&:hover
			color: $bodyColor


nav.main-menu.full

	ul

		display: block
		max-width: $max-width
		margin: auto
		// margin-top: 2px
		padding-top: 2px

	li 
		display: inline-block
	
	a 
		padding: 0.5em 2.5em

	.compact-menu
		display: none
	

nav.main-menu.compact

	padding: 0.5em 0

	ul
		display: none
		width: 100%
	
	li
		display: block
	
	.compact-menu
		display: block
		text-align: center


.screen-reader-text
	display: none


li.current
	a
		background-color: $bodyColor
		color: $black
		border-top-left-radius: 900%
		border-top-right-radius: 900%
		font-weight: 500

		&:hover
			color: $black



//---------------    Mobile    ---------------//

@media screen and (max-width: 1320px)

	nav.main-menu.full
		a
			padding: 0.5em 2em

@media screen and (max-width: 1150px)

	nav.main-menu.full
		a
			padding: 0.5em 1.5em

@media screen and (max-width: 990px)

	nav.main-menu.full
		a
			padding: 0.5em 1em

@media screen and (max-width: 830px)

	nav.main-menu.full
		a
			padding: 0.5em 0.5em

@media screen and (max-width: 700px)

	li.current
		a
			background-color: transparent
			color: $bodyColor
			border-top-left-radius: 0
			border-top-right-radius: 0
			font-weight: 500

			&:hover
				color: $bodyColor