.page-volunteer
	div.content-area
		padding: 7em 0
		@extend %clearfix

	div.imgWrap
		margin-bottom: 2em
		float: left
		
	.main
		text-align: center
		margin: auto
		width: 1251px
		max-width: 100%
		padding: 0 2em

		h2
			font-size: 3.75em

		article
			padding: 2em 0

			p
				margin-bottom: 0.5em

			div
				margin-top: 5em

	.descriptionWrap
		padding-top: 5em